<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login_cadastrar/styles.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="profile-menu">
    </div>
    
    <form id= "cadastroForm" action="" method="post">
        <fieldset id="usuario">
            <input class="input-text" placeholder="Nome:" type="text" name="nome"><br>
            <input class="input-text" placeholder="Senha:" type="password" name="senha"><br>
            <input class="input-text" placeholder="E-mail:" type="text" name="email"><br>
        </fieldset>

        <div id="buttons">
            <a class="submit-btn" href="{{url_for('login')}}">VOLTAR</a>
            <input class="submit-btn" type="submit" value="CADASTRAR">
        </div>
    </form>
</body>

{% if erro %}
<script> 
    alert('{{ erro }}');
</script>
{% endif %}

</html>