<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
    
</head>
<body>
    <header> 
        <div class="logo">
            {% if current_user.is_authenticated %}
            <p>👋 Olá, {{current_user.nome}}! Acompanhe aqui as análises detalhadas da ANAC sobre o setor aéreo. ✈️📊</p>
            {% else %}
            <p>👋 Oops! Você não está logado. Faça login para acessar as análises da ANAC! 😊</p>
            {% endif %}
        </div>
        <div class="menu">
            <div class="menu_esquerdo">
                <input type="hidden" id="isloged" value="{{ current_user.is_authenticated | tojson }}">
            </div>
            <div class="menu_direito">
                <ul>
                    <li><a id="home" href="{{ url_for('home') }}">Home</a></li>
                    <li><a id="analise" href="#" onclick="trocarSrcAnalise()">Análises</a></li>
                    <li><a id="cadastrar" href="#" onclick="trocarSrcCadastrar()">Cadastrar</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="#" class="riscado">Sair</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <body>
        <div class="container">
            <iframe id="iframe" class="content" src="{{ url_for('login') }}" frameborder="0"></iframe>
        </div>
    </body>
    <footer> 
        <p>Este site foi desenvolvido como parte de um <strong>teste técnico</strong>, realizado através da plataforma <strong>Gupy</strong>.</p>
        <p>O objetivo desse projeto foi demonstrar habilidades no desenvolvimento de sistemas em python/flask e soluções técnicas utilizando as melhores práticas de programação.</p>
    </footer>
    
</body>
<script src="../static/home/scripts.js"></script>
</html>