<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explicação do Arquivo CSV da ANAC</title>
    <link rel="stylesheet" href="../static/info/styles.css">
</head>
<body>
    <h2>Explicação do Arquivo CSV da ANAC</h2>
    <p>O arquivo CSV da ANAC contém dados estatísticos do transporte aéreo no Brasil. Abaixo estão algumas das principais colunas encontradas no arquivo:</p>
    
    <table>
        <tr>
            <th>Nome da Coluna</th>
            <th>Descrição</th>
        </tr>
        <tr>
            <td>ANO</td>
            <td>Ano da operação do voo.</td>
        </tr>
        <tr>
            <td>MES</td>
            <td>Mês da operação do voo.</td>
        </tr>
        <tr>
            <td>EMPRESA</td>
            <td>Código ICAO do aeroporto de origem do voo. + Código ICAO do aeroporto de destino do voo.</td>
        </tr>
        <tr>
            <td>RPK</td>
            <td>Revenue Passenger Kilometers (quantidade de passageiros pagos transportados multiplicado pela distância percorrida em quilômetros).</td>
        </tr>
    </table>
    
    <p>Com base nesses dados, a aplicação poderá filtrar os voos da companhia aérea GOL, que sejam regulares e domésticos, além de agrupar os voos ida e volta em uma coluna chamada MERCADO.</p>
</body>
</html>
