<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login_cadastrar/styles.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <form id= "login" action="" method="post">
        <fieldset id="usuario">
            Nome: <input type="text" name="nome"><br>
            Senha: <input type="password" name="senha"><br>
        </fieldset>

        <input id="submit" type="submit" value="Login">
    </form>
</body>
<script src="../static/login_cadastrar/script.js"></script>
</html>